# Runtime dependencies for the integration.
# These are installed by Home Assistant when the integration is loaded

# Add your integration's runtime dependencies here
# Example:
# aiohttp>=3.8.0
# async-timeout>=4.0.0

# Note: Home Assistant core dependencies are already available
aiohttp>=3.13
mashumaro>=3.17.0
orjson>=3.11
websockets>=15
yarl>=1.22
