name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.14"
          
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python-version }}
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: uv sync --all-extras

      - name: Ruff Lint Check
        run: uv run ruff check --fix --exclude=examples --exclude=tests  .

      - name: Ruff Format Check
        run: uv run ruff format --diff .

      - name: Python Type Checks (Pyrefly)
        run: uv run pyrefly check -c pyproject.toml
        
      - name: Test with pytest
        run: uv run pytest
